:root {
	--white: #fff;
	--brown: #807166;
	--gray: #f4f4f4;
	--black: #222;
	--cream: #f4f1e8;
	--black-100: #cacaca;
	--green: #006400;
	--red: #c00;
	--font-family: "Montserrat", sans-serif;
	--second-family: "Raleway", sans-serif;
}